@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager

<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link text-dark landing-nav-link" data-section="features" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark landing-nav-link" data-section="solutions" asp-controller="Home" asp-action="Index" asp-fragment="solutions">Solutions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark landing-nav-link" data-section="about" asp-controller="Home" asp-action="Index" asp-fragment="about">About Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark landing-nav-link" data-section="contact" asp-controller="Home" asp-action="Index" asp-fragment="contact">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
</ul>

